
body {
  font-family: Arial, sans-serif;
  background-color: #fffdf2;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

header {
  background-color: white;
  padding: 10px 20px;
  border-bottom: 5px solid #ec6f1a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-container {
  display: flex;
  align-items: center;
}

header img {
  height: 60px;
  margin-right: 10px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: #ff8080;
  margin-left: 10px;
}

.auth-links {
  display: flex;
  gap: 10px;
  margin-left: 1150px;
}

.auth-links a {
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-right:auto;
}

h1 {
  font-size: 36px;
  color: #000;
  margin-top: 250px;
}

.event-button {
  margin: 30px auto;
  width: 90%;
  max-width: 700px;
  height: 200px;
  background-image: url('../imagens/nba (1).jpg');
  background-size: cover;
  background-position: center;
  color: #ff8080;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
